* {
	margin: 0;
	padding: 0;	
}
.tableTree {
	border: 1px solid #ddd;
	margin: auto;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}
.tableTree .level2 td:first-child {
	padding-left: 20px;
}
.tableTree .level3 td:first-child {
	padding-left: 40px;
}
.tableTree .level4 td:first-child {
	padding-left: 60px;
}
.tableTree .level5 td:first-child {
	padding-left: 80px;
}
.tableTree .level6 td:first-child {
	padding-left: 100px;
}
.tableTree .level7 td:first-child {
	padding-left: 120px;
}
.tableTree .level8 td:first-child {
	padding-left: 140px;
}
.tableTree .level9 td:first-child {
	padding-left: 160px;
}
.tableTree .level10 td:first-child {
	padding-left: 180px;
}
.tableTree table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	box-sizing: border-box;
}
.tableTree table td {
	font-size: 14px;
	color: #72777a;
	box-sizing: border-box;
	word-break: break-all;
	padding: 10px 0;
}
.tableTree table td:first-child {
	width: 200px;
}
.tableTree table td>input {
	width: 60px;
}
.tableTree .check_tr {
	background: lightgoldenrodyellow;
}
.tableTree .iconfont {
	font-size: 14px;
	margin-right: 5px;
}
.tableTree ul {
	font-size: 0;
}
.tableTree li {
	font-size: 14px;
	list-style: none;
	display: inline-block;
	color: #72777a;
	padding: 0 10px;
}
.tableTree .table_head {
	background: #f7f7f7;
	box-sizing: border-box;
}
.tableTree .table_head td {
	padding: 10px 0;
	color: #000000;
	font-weight: bold;
}
.tableTree .table_head td:first-child {
	padding-left: 20px;
}
.tableTree .level1>table td {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.tableTree .level1>table td:first-child {
	font-weight: bold;
}
.tableTree .toolBar input {
	width: 100px;
	height: 28px;
	border-radius: 3px;
	border: 1px solid deepskyblue;
	box-sizing: border-box;
	padding: 0 10px;
	color: #555;
}
.tableTree button {
	padding: 5px 10px;
	border-radius: 3px;
	outline: none;
	border: none;
	cursor: pointer;
	color: #fff;
	background: deepskyblue;
}
.tableTree .container_datagrid_tree {
	height: 100%;
	overflow: auto;
}
.tableTree .icon-loading {
	position: absolute;
	font-size: 24px;
	color: #888;
	animation: rotate 0.8s linear infinite;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);
}
.table-tree-mask {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.1);
}
